section{
    height: 100%;
    .categories{
        transition: all 0.5s ease-in-out;
        height: 100%;
        span{
            position: sticky;
            z-index: 1;
            top: 0;
            height: 30px;
            background: white;
            display: flex;
            align-items: center;
            padding: 10px 10px;
            color:var(--Viraj-primary);
            font-size: var(--Viraj-font-large);
            strong{
                color:black;
                text-transform: uppercase;
            }
        }
    }
    .categoriesExpanded{
        // height: calc(100vh - 300px);
    }
    .actions{
        position: sticky;
        z-index: 2;
        bottom: 0px;
        background: white;
        box-shadow: 0px -15px 30px 0px rgba(0,0,0,0.3);
        padding: 10px;
        display: flex;
        align-items: center;
        gap:20px;
        justify-content: space-between;
        span.badge{
            font-size: var(--Viraj-font-medium);
            padding: 6px;
            border:1px solid #ccc;
            display: flex;
            align-items: center;
            // flex-direction: column;
            gap:5px;
            border-radius: var(--Viraj-border-radius);
            font-size: var(--Viraj-font-medium);
            p{
                margin: 0px;
                color:black;
            }
            span{
                color:black;
            }
            b{
                font-weight: bold;
                font-size: var(--Viraj-font-xlarge);
            }
        }
        span.sales{
            color:#FF5E35;
            background: #FFF8F8;
            border-color: #FF5E35;
            font-size: var(--Viraj-font-medium);
            b{
                color:#FF5E35;
            }
        }
    }
}
// @media screen and (max-width: 717px) {
//     section{
//         .actions{
//             button{
//                 padding: 5px 20px;
//             }
//         }
//     }
// }
// @media screen and (min-height: 766px) {
//     section{
//         .categories{
//             span{
//                 // background: purple;
//             }
//             height: calc(100vh - 460px);
//         }
//     }
// }
// @media screen and (min-height:800px) {
//     section{
//         .categories{
//             span{
//                 // background: yellow;
//             }
//             height: calc(100vh - 480px);
//         }
//     }
// }
// @media screen and (min-height: 900px) {
//     section{
//         .categories{
//             span{
//                 // background: blue;
//             }
//             height: calc(100vh - 600px);
//         }
//     }
// }

@media (max-width: 1300px) {
    .categories{
        span{
            height: 30px !important;
            padding: 0px 5px !important;
        }
    }
}