<section>
    <div class="categories">
        <span><strong>Menu</strong>&nbsp;&nbsp;&nbsp; Viraj Categories</span>
        <app-category-card (click)="openCategory(category)" *ngFor="let category of recommended" [category]="category"></app-category-card>
        <span>Your Categories</span>
        <app-category-card (click)="openCategory(category)" *ngFor="let category of categories" [category]="category"></app-category-card>
    </div>
    <div class="actions">
        <button matRipple class="button stroked" (click)="editMenu()">Edit Menu</button>
        <span class="badge sales" cdkOverlayOrigin #salesTrigger="cdkOverlayOrigin" (mouseleave)="this.closeStockListPanelSubscription.next(false);" (mouseenter)="isStockListOpen = true">
            <p>Stock Cons.</p>
            <b class="cost">{{stockConsumption | currency:'INR'}}</b>
        </span>
        <ng-template
            cdkConnectedOverlay
            [cdkConnectedOverlayPositions]="[{overlayX:'start',overlayY:'top',originX:'end',originY:'bottom'}]"
            [cdkConnectedOverlayOffsetY]="-40"
            [cdkConnectedOverlayOrigin]="salesTrigger"
            [cdkConnectedOverlayOpen]="isStockListOpen"
        >
            <app-stock-list (close)="this.isStockListOpen = false" (mouseleave)="this.closeStockListPanelSubscription.next(false)" (mouseenter)="this.closeStockListPanelSubscription.next(true)"></app-stock-list>
        </ng-template>
    </div>
</section>