<section>
  <div class="border" (mouseenter)="showKotNo=true" (mouseleave)="showKotNo=false" [ngStyle]="{background:kotNoColors[kotNo].color,padding:showKotNo ? '10px' : '0px'}">
    <p *ngIf="showKotNo" [ngStyle]="{'color':kotNoColors[kotNo].contrast}">{{kotId}}</p>
  </div>
  <div class="main">
    <span class="veg" *ngIf="!showKotNo" [ngClass]="{ non: nonVeg }">
      <span></span>
    </span>
    <div class="info">
      <p class="name">{{ productName | titlecase }}</p>
      <p class="price">{{ price | currency : "INR" }}</p>
    </div>
    <div class="more">
      <div class="actions">
        <select [disabled]="dataProvider.manageKot==true">
          <option [value]="config.price" *ngFor="let config of variations">
            {{ config.name }}
          </option>
        </select>
        <div class="quantity">
          <viraj-button [minimalPadding]="true" iconSize="small" [disabled]="(dataProvider.manageKot==true && !editMode)" (vclick)="quantity = quantity + 1">
            <i class="ri-add-fill"></i>
          </viraj-button>
          <input
          [disabled]="(dataProvider.manageKot==true && !editMode)"
            type="number"
            [(ngModel)]="quantity"
            [ngModelOptions]="{ standalone: true }"
          />
          <viraj-button [minimalPadding]="true" iconSize="small" (vclick)="quantity = quantity - 1" [disabled]="quantity <= 1 || (dataProvider.manageKot==true && !editMode)">
            <i class="ri-subtract-fill"></i>
          </viraj-button>
        </div>
        <ng-container>
          <viraj-button iconSize="medium" type="icon" [disabled]="dataProvider.manageKot==true && !editMode" class="iconButton" (vclick)="setInfo()">
            <i class="ri-sticky-note-fill"></i>
          </viraj-button>
          <viraj-button iconSize="medium" type="icon" [disabled]="dataProvider.manageKot==true && !editMode" class="iconButton" (vclick)="delete.emit()">
            <i class="ri-delete-bin-2-line"></i>
          </viraj-button>
        </ng-container>
      </div>
      <div class="infoStatement" *ngIf="info">
        <strong>INFO:</strong><span>{{ info }}</span>
      </div>
    </div>
  </div>
</section>
