<section>
    <div class="info">
        <p>{{businessName}}</p>
        <span>{{currentUser}}</span>
        <span class="uid">#{{currentUserId}}</span>
    </div>
    <button color="primary" mat-icon-button (click)="lock.emit()"><mat-icon>lock</mat-icon></button>
    <button color="primary" mat-icon-button (click)="support.emit()"><mat-icon>help</mat-icon></button>
    <button color="primary" mat-icon-button (click)="openSettings()"><mat-icon>settings</mat-icon></button>
    <button color="primary" mat-stroked-button (click)="logout.emit()">Logout</button>
</section>