<section>
    <div class="info">
        <p>{{businessName}}</p>
        <span>{{currentUser}}</span>
        <span class="uid">#{{currentUserId}}</span>
    </div>
    <viraj-button type="icon" (vclick)="lock.emit()"><i class="ri-lock-fill"></i></viraj-button>
    <viraj-button type="icon" (vclick)="openChat()"><i class="ri-questionnaire-fill"></i></viraj-button>
    <viraj-button type="icon" (vclick)="openSettings()"><i class="ri-settings-3-fill"></i></viraj-button>
    <viraj-button type="outline" (vclick)="logout.emit()">Logout</viraj-button>
</section>