<section>
    <h3>Alerts</h3>
    <table>
        <tbody>
            <tr>
                <td>
                    <img src="assets/billPending.png" alt="">
                </td>
                <td>Bill Pending</td>
                <td>32 Min</td>
                <td>T2</td>
                <td><button mat-stroked-button color="primary">View</button></td>
                <td><button mat-icon-button><mat-icon>close</mat-icon></button></td>
            </tr>
            <tr>
                <td>
                    <img src="assets/billPending.png" alt="">
                </td>
                <td>Bill Pending</td>
                <td>32 Min</td>
                <td>T2</td>
                <td><button mat-stroked-button color="primary">View</button></td>
                <td><button mat-icon-button><mat-icon>close</mat-icon></button></td>
            </tr>
            <tr>
                <td>
                    <img src="assets/billPending.png" alt="">
                </td>
                <td>Bill Pending</td>
                <td>32 Min</td>
                <td>T2</td>
                <td><button mat-stroked-button color="primary">View</button></td>
                <td><button mat-icon-button><mat-icon>close</mat-icon></button></td>
            </tr>
            <tr>
                <td>
                    <img src="assets/billPending.png" alt="">
                </td>
                <td>Bill Pending</td>
                <td>32 Min</td>
                <td>T2</td>
                <td><button mat-stroked-button color="primary">View</button></td>
                <td><button mat-icon-button><mat-icon>close</mat-icon></button></td>
            </tr>
            <tr>
                <td>
                    <img src="assets/billPending.png" alt="">
                </td>
                <td>Bill Pending</td>
                <td>32 Min</td>
                <td>T2</td>
                <td><button mat-stroked-button color="primary">View</button></td>
                <td><button mat-icon-button><mat-icon>close</mat-icon></button></td>
            </tr>
            <tr>
                <td>
                    <img src="assets/billPending.png" alt="">
                </td>
                <td>Bill Pending</td>
                <td>32 Min</td>
                <td>T2</td>
                <td><button mat-stroked-button color="primary">View</button></td>
                <td><button mat-icon-button><mat-icon>close</mat-icon></button></td>
            </tr>
            <tr>
                <td>
                    <img src="assets/billPending.png" alt="">
                </td>
                <td>Bill Pending</td>
                <td>32 Min</td>
                <td>T2</td>
                <td><button mat-stroked-button color="primary">View</button></td>
                <td><button mat-icon-button><mat-icon>close</mat-icon></button></td>
            </tr>
            <tr>
                <td>
                    <img src="assets/billPending.png" alt="">
                </td>
                <td>Bill Pending</td>
                <td>32 Min</td>
                <td>T2</td>
                <td><button mat-stroked-button color="primary">View</button></td>
                <td><button mat-icon-button><mat-icon>close</mat-icon></button></td>
            </tr>
            <tr>
                <td>
                    <img src="assets/billPending.png" alt="">
                </td>
                <td>Bill Pending</td>
                <td>32 Min</td>
                <td>T2</td>
                <td><button mat-stroked-button color="primary">View</button></td>
                <td><button mat-icon-button><mat-icon>close</mat-icon></button></td>
            </tr>
            <tr>
                <td>
                    <img src="assets/billPending.png" alt="">
                </td>
                <td>Bill Pending</td>
                <td>32 Min</td>
                <td>T2</td>
                <td><button mat-stroked-button color="primary">View</button></td>
                <td><button mat-icon-button><mat-icon>close</mat-icon></button></td>
            </tr>
            <tr>
                <td>
                    <img src="assets/billPending.png" alt="">
                </td>
                <td>Bill Pending</td>
                <td>32 Min</td>
                <td>T2</td>
                <td><button mat-stroked-button color="primary">View</button></td>
                <td><button mat-icon-button><mat-icon>close</mat-icon></button></td>
            </tr>
            <tr>
                <td>
                    <img src="assets/billPending.png" alt="">
                </td>
                <td>Bill Pending</td>
                <td>32 Min</td>
                <td>T2</td>
                <td><button mat-stroked-button color="primary">View</button></td>
                <td><button mat-icon-button><mat-icon>close</mat-icon></button></td>
            </tr>
            <tr>
                <td>
                    <img src="assets/billPending.png" alt="">
                </td>
                <td>Bill Pending</td>
                <td>32 Min</td>
                <td>T2</td>
                <td><button mat-stroked-button color="primary">View</button></td>
                <td><button mat-icon-button><mat-icon>close</mat-icon></button></td>
            </tr>
            <tr>
                <td>
                    <img src="assets/billPending.png" alt="">
                </td>
                <td>Bill Pending</td>
                <td>32 Min</td>
                <td>T2</td>
                <td><button mat-stroked-button color="primary">View</button></td>
                <td><button mat-icon-button><mat-icon>close</mat-icon></button></td>
            </tr>
            <tr>
                <td>
                    <img src="assets/billPending.png" alt="">
                </td>
                <td>Bill Pending</td>
                <td>32 Min</td>
                <td>T2</td>
                <td><button mat-stroked-button color="primary">View</button></td>
                <td><button mat-icon-button><mat-icon>close</mat-icon></button></td>
            </tr>
            <tr>
                <td>
                    <img src="assets/billPending.png" alt="">
                </td>
                <td>Bill Pending</td>
                <td>32 Min</td>
                <td>T2</td>
                <td><button mat-stroked-button color="primary">View</button></td>
                <td><button mat-icon-button><mat-icon>close</mat-icon></button></td>
            </tr>
            <tr>
                <td>
                    <img src="assets/billPending.png" alt="">
                </td>
                <td>Bill Pending</td>
                <td>32 Min</td>
                <td>T2</td>
                <td><button mat-stroked-button color="primary">View</button></td>
                <td><button mat-icon-button><mat-icon>close</mat-icon></button></td>
            </tr>
            <tr>
                <td>
                    <img src="assets/billPending.png" alt="">
                </td>
                <td>Bill Pending</td>
                <td>32 Min</td>
                <td>T2</td>
                <td><button mat-stroked-button color="primary">View</button></td>
                <td><button mat-icon-button><mat-icon>close</mat-icon></button></td>
            </tr>
            <tr>
                <td>
                    <img src="assets/billPending.png" alt="">
                </td>
                <td>Bill Pending</td>
                <td>32 Min</td>
                <td>T2</td>
                <td><button mat-stroked-button color="primary">View</button></td>
                <td><button mat-icon-button><mat-icon>close</mat-icon></button></td>
            </tr>
            <tr>
                <td>
                    <img src="assets/billPending.png" alt="">
                </td>
                <td>Bill Pending</td>
                <td>32 Min</td>
                <td>T2</td>
                <td><button mat-stroked-button color="primary">View</button></td>
                <td><button mat-icon-button><mat-icon>close</mat-icon></button></td>
            </tr>
            <tr>
                <td>
                    <img src="assets/billPending.png" alt="">
                </td>
                <td>Bill Pending</td>
                <td>32 Min</td>
                <td>T2</td>
                <td><button mat-stroked-button color="primary">View</button></td>
                <td><button mat-icon-button><mat-icon>close</mat-icon></button></td>
            </tr>
            <tr>
                <td>
                    <img src="assets/billPending.png" alt="">
                </td>
                <td>Bill Pending</td>
                <td>32 Min</td>
                <td>T2</td>
                <td><button mat-stroked-button color="primary">View</button></td>
                <td><button mat-icon-button><mat-icon>close</mat-icon></button></td>
            </tr>
            <tr>
                <td>
                    <img src="assets/billPending.png" alt="">
                </td>
                <td>Bill Pending</td>
                <td>32 Min</td>
                <td>T2</td>
                <td><button mat-stroked-button color="primary">View</button></td>
                <td><button mat-icon-button><mat-icon>close</mat-icon></button></td>
            </tr>
            <tr>
                <td>
                    <img src="assets/billPending.png" alt="">
                </td>
                <td>Bill Pending</td>
                <td>32 Min</td>
                <td>T2</td>
                <td><button mat-stroked-button color="primary">View</button></td>
                <td><button mat-icon-button><mat-icon>close</mat-icon></button></td>
            </tr>
            <tr>
                <td>
                    <img src="assets/billPending.png" alt="">
                </td>
                <td>Bill Pending</td>
                <td>32 Min</td>
                <td>T2</td>
                <td><button mat-stroked-button color="primary">View</button></td>
                <td><button mat-icon-button><mat-icon>close</mat-icon></button></td>
            </tr>
            <tr>
                <td>
                    <img src="assets/billPending.png" alt="">
                </td>
                <td>Bill Pending</td>
                <td>32 Min</td>
                <td>T2</td>
                <td><button mat-stroked-button color="primary">View</button></td>
                <td><button mat-icon-button><mat-icon>close</mat-icon></button></td>
            </tr>
            <tr>
                <td>
                    <img src="assets/billPending.png" alt="">
                </td>
                <td>Bill Pending</td>
                <td>32 Min</td>
                <td>T2</td>
                <td><button mat-stroked-button color="primary">View</button></td>
                <td><button mat-icon-button><mat-icon>close</mat-icon></button></td>
            </tr>
            <tr>
                <td>
                    <img src="assets/billPending.png" alt="">
                </td>
                <td>Bill Pending</td>
                <td>32 Min</td>
                <td>T2</td>
                <td><button mat-stroked-button color="primary">View</button></td>
                <td><button mat-icon-button><mat-icon>close</mat-icon></button></td>
            </tr>
        </tbody>
    </table>
</section>